<?xml version="1.0"?>
<!--
  ~ Copyright © Websolute spa. All rights reserved.
  ~ See LICENSE and/or COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Command start -->
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="transporter_download" xsi:type="object">Websolute\TransporterCommand\Console\Command\DownloadCommand</item>
                <item name="transporter_manipulate" xsi:type="object">Websolute\TransporterCommand\Console\Command\ManipulateCommand</item>
                <item name="transporter_upload" xsi:type="object">Websolute\TransporterCommand\Console\Command\UploadCommand</item>
                <item name="transporter_all" xsi:type="object">Websolute\TransporterCommand\Console\Command\AllCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Websolute\TransporterCommand\Console\Command\DownloadCommand">
        <arguments>
            <argument name="name" xsi:type="string">transporter:download</argument>
        </arguments>
    </type>
    <type name="Websolute\TransporterCommand\Console\Command\ManipulateCommand">
        <arguments>
            <argument name="name" xsi:type="string">transporter:manipulate</argument>
        </arguments>
    </type>
    <type name="Websolute\TransporterCommand\Console\Command\UploadCommand">
        <arguments>
            <argument name="name" xsi:type="string">transporter:upload</argument>
        </arguments>
    </type>
    <type name="Websolute\TransporterCommand\Console\Command\AllCommand">
        <arguments>
            <argument name="name" xsi:type="string">transporter:all</argument>
        </arguments>
    </type>
    <!-- Command end -->
</config>
